/*********** logo *************/
.logo {
  height: 3.25rem;
}

/*********** search *************/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;

  &__input {
    border: 0;
    border-radius: 150px;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    width: 90%;
    margin-right: -3.25rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      background-color: var(--color-grey-light-3);
      width: 100%;
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-dark-4);
      font-weight: 100;
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: 0;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

/*********** user *************/
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;

  & > * {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    cursor: pointer;
  }

  & > *:hover {
    background-color: var(--color-grey-light-3);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
    color: var(--color-white);
    font-size: 0.8rem;
    background-color: var(--color-primary);
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
  }

  &__logo {
    border-radius: 50%;
    height: 3.75rem;
    margin-right: 1rem;
  }

  &__name {
    font-weight: 700;
  }
}

/*********** sidebar *************/
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__items {
    font-size: 1.6rem;
    text-transform: uppercase;
    list-style: none;
    margin-top: 3.5rem;
  }

  &__item {
    position: relative;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: var(--color-primary);
      left: 0;
      top: 0;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link:visited,
  &__link:link {
    display: block;
    padding: 1.5rem 3rem;
    text-decoration: none;
    color: var(--color-grey-light-1);
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    fill: currentColor;
  }

  &__name {
  }
}

/*********** legal *************/
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

/*********** gallery *************/
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

/*********** overview *************/
.overview {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-grey-light-2);

  &__header {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 300;
    padding: 1.5rem 3rem;
    letter-spacing: 0;
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-primary);
    margin-left: 3rem;
    &-rate {
      font-size: 2.25rem;
      font-weight: 300;
    }

    &-count {
      text-transform: uppercase;
    }
  }
}

/*********** button inline *************/
.btn__inline {
  background-color: transparent;
  color: var(--color-primary);
  border: 0;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--color-grey-dark-1);
  }

  &:focus {
    animation: pules 1s infinite;
  }
}

@keyframes pules {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
