/*********** logo *************/
.logo {
  height: 3.25rem;
}

/*********** search *************/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;

  &__input {
    border: 0;
    border-radius: 150px;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    width: 90%;
    margin-right: -3.25rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      background-color: var(--color-grey-light-3);
      width: 100%;
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-dark-4);
      font-weight: 100;
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: 0;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

/*********** user *************/
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;

  & > * {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    cursor: pointer;
  }

  & > *:hover {
    background-color: var(--color-grey-light-3);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
    color: var(--color-white);
    font-size: 0.8rem;
    background-color: var(--color-primary);
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
  }

  &__logo {
    border-radius: 50%;
    height: 3.75rem;
    margin-right: 1rem;
  }

  &__name {
    font-weight: 700;
  }
}

/*********** sidebar *************/
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__items {
    font-size: 1.6rem;
    text-transform: uppercase;
    list-style: none;
    margin-top: 3.5rem;
  }

  &__item {
    position: relative;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: var(--color-primary);
      left: 0;
      top: 0;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link:visited,
  &__link:link {
    display: block;
    padding: 1.5rem 3rem;
    text-decoration: none;
    color: var(--color-grey-light-1);
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    fill: currentColor;
  }

  &__name {
  }
}

/*********** legal *************/
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}
