.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: var(--color-white);
  border-bottom: var(--line-bottom);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}

.content {
  display: flex;
}

.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  flex: 1;
}

.details {
  display: flex;
  padding: 4.5rem;
  gap: 4.5rem;
  font-size: 1.4rem;
  border-bottom: var(--line-bottom);
  background-color: var(--color-grey-light-1);

  .description {
    flex: 0 0 60%;
    background-color: var(--color-white);
    padding: 3rem;
    box-shadow: var(--shadow-light);
  }

  .reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
